<div class="container">
    <div class="row mt-5 mb5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam Bem Vindos ao meu Blog!</h1>
        </div>
    </div>
    <div row mb-5>
        <div class="col-md-12">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed varius quam, ac cursus turpis. Nullam sed eleifend risus, at egestas urna. Cras scelerisque ut nisi eget condimentum. Vestibulum eleifend sed neque eu porta. In vulputate rhoncus urna, quis semper elit vestibulum et. Praesent viverra, enim at molestie venenatis, elit dolor malesuada libero, vitae vehicula nisi odio quis nisl. Etiam eget sagittis turpis. Sed eu accumsan orci, auctor tincidunt nisl. Phasellus euismod, magna nec tristique sodales, purus lorem rutrum turpis, vitae rhoncus dolor nulla ut nunc. Donec in arcu justo. Duis aliquam dolor eu pretium sollicitudin. Donec semper dolor eros, vitae ultrices massa efficitur ut. Phasellus neque ipsum, venenatis convallis bibendum mollis, efficitur quis dui.  
            </p>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink='/feed'>Ver o Feed</button>
        </div>
    </div>
</div>
